<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147761395042-dcr1doj5gtpu8u5grvtmhmvv22p2cmcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147761395042-dcr1doj5gtpu8u5grvtmhmvv22p2cmcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCszCwQHg_1ZkYw7K1b5yMB4PRRHyQlLZY</string>
	<key>GCM_SENDER_ID</key>
	<string>147761395042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aproperfox.flutterRetro</string>
	<key>PROJECT_ID</key>
	<string>flutter-retro</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-retro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147761395042:ios:ffbf252b30a55a85</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-retro.firebaseio.com</string>
</dict>
</plist>